[Unit]
Description=Kiwix Server
After=network.target network-online.target hostapd.service dnsmasq.service
Wants=network-online.target
Requires=network.target
Wants=hostapd.service dnsmasq.service

[Service]
User=sunny
Group=sunny
WorkingDirectory=/home/sunny/kiwix
Environment=KIWIX_DEBUG=1
# Wait for network and keep trying to start
ExecStartPre=/bin/sleep 30
ExecStart=/bin/bash -c 'while ! /usr/bin/kiwix-serve --library /home/sunny/kiwix/data/library.xml --port 8080 --daemon --address 0.0.0.0; do sleep 5; done'
# If the service fails, try to restart it
Restart=always
RestartSec=5
# Try to restart many times
StartLimitInterval=0
StartLimitBurst=0
StandardOutput=append:/var/log/offgridnet/kiwix.log
StandardError=append:/var/log/offgridnet/kiwix-error.log

[Install]
WantedBy=multi-user.target 