[Unit]
Description=MeshNode Flask Backend
After=network-online.target hostapd.service dnsmasq.service
Wants=network-online.target hostapd.service dnsmasq.service

[Service]
User=sunny
Group=sunny
WorkingDirectory=/home/sunny/pi/meshnode
ExecStart=/home/sunny/pi/meshnode/venv/bin/python /home/sunny/pi/meshnode/app.py
Restart=always
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target 